# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Hosting file
dist/

# about firebase
/firebase-debug.log
yarn.lock